<div class="canvas_container">
  <div class="canvas">
    <mat-card>
      <mat-card-title>Come be a part of the Driving Force of change</mat-card-title>
      <mat-vertical-stepper [linear]="true" #stepper>
        <mat-step>
            <ng-template matStepLabel>What's your name?</ng-template>
            <mat-form-field>
              <input matInput type="text" #first placeholder="First name" required="required" id="first" />
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" #last placeholder="Last name" required="required" id="last" />
            </mat-form-field>
            <div>
              <button mat-raised-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>What's your e-mail address?</ng-template>
            <mat-form-field>
              <input matInput type="email" #email placeholder="E-mail" required="required" id="email" />
            </mat-form-field>
            <div>
              <button mat-raised-button matStepperNext>Next</button>
              <button mat-raised-button matStepperPrevious>Back</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Fill in your phone number</ng-template>
            <mat-form-field>
              <input matInput type="text" #ph placeholder="Phone number"  id="phone" />
            </mat-form-field>
            <div>
              <button mat-raised-button matStepperNext>Next</button>
              <button mat-raised-button matStepperPrevious>Back</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Set a password</ng-template>
            <mat-form-field>
              <input matInput type="password" #pass placeholder="Password" required="required" id="password" />
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" #passconf placeholder="Password (Confirm)" required="required" id="password_confirmation" />
            </mat-form-field>
            <div>
              <button mat-raised-button matStepperNext (click)="verifyPass(pass.value, passconf.value)">Next</button>
              <button mat-raised-button matStepperPrevious>Back</button>
            </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <div>
            <button mat-raised-button (click)="register_vol(first.value, last.value, email.value, ph.value, pass.value, passconf.value)">Join the Force</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card>
  </div>
</div>