.canvas_container{
  position: relative;
  display: flex;
  justify-content: center;
}

.canvas{
  width: 600px;
  height: 600px;
  margin-top: calc(50vh - 300px);
}

mat-title {
  font-size: x-large;
  display: block;
  text-align: center;
}

mat-form-field {
  margin-right: 10px;
}

button {
  margin-right: 10px;
}

.mat-stepper-vertical {
    margin-top: 8px;
    margin-left: 15px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
