















<div style="width: 100%; height: 100vh; overflow: hidden;">
  <div class="Title-and-icon" style="font-size: 60px">
    <b>
      Driving Force
    </b>
    <div>
      <img src="assets/charity_icon.png" style="height: 80px;" alt="">
    </div>
  </div>



<div class="login">
  <h1>Welcome back</h1>
  <!-- <form method="post"> -->
      <input type="text" #email placeholder="E-mail" required="required" id="email" />
      <input type="password" #pass placeholder="Password" required="required" id="password" (keyup)="0"/>
      <p>{{email.value}}</p>
      <p>{{pass.value}}</p>
      <div class="vol-login" ng-init="route = '/volunteer'">
        <button (click)="login_volunteer(email.value, pass.value);">Log in as a Volunteer</button> 
        <button (click)="to_register_vol()">Register as a volunteer</button>
      </div>
     

      <div class="org-login">
        <button (click)="login_org(email.value, pass.value)">Log in as an Organization</button>
        <button (click)="to_register_org()">Register as an organization</button>
        
    </div>
  <!-- </form> -->
</div>

<h2>{{message}}</h2>

<!-- <script>
  function get_vol_info() {
    var email = document.getElementById("email").value;
    var password = document.getElementById("password").value;
    login_volunteer(email, password);
  }

  function get_org_info() {
    var email = document.getElementById("email").value;
    var password = document.getElementById("password").value;
    login_org(email, password);
  }

</script> -->



  
  <!-- <div class="row" style="height: 100%;">
    <div class="col-md-6" style="height: 100%;">
      <div class="text-center" style="height: 100%;">
        <h1 style="height: 50%; position: relative;">
          <mat-card style="height: 100%; top: 30%; ">
            <span style="position: relative; top: 30%;">
              <button mat-button mat-raised-button routerLink="/volunteer" style="height: 80px;">
                <span style="font-size: 60px">
              Volunteer
                </span>
              </button>
            </span>
          </mat-card>
        </h1>
      </div>
    </div>  -->
<!-- </div> -->
    <!-- <div class="col-md-6" style="height: 100%;">
      <div class="text-center" style="height: 100%;">
        <h1 style="height: 50%; position: relative;">
          <mat-card style="height: 100%; top: 30%; ">
            <span style="position: relative; top: 30%;">
              <button mat-button mat-raised-button routerLink="/organizor" style="height: 80px;">
                <span style="font-size: 60px">
                  Organizer
                </span>
              </button>
            </span>
          </mat-card>
        </h1>
      </div>
    </div> -->
 
</div>
