<div class="canvas_container">
  <div class="canvas">
    <mat-card class="login">
      <mat-card-title>Driving Force</mat-card-title>
      <mat-card-content>
        <div>
          <img src="assets/charity_icon.png" class="icon">
          <div class="welcome_message">Facilitating social good</div>
        </div>
        <div>
          {{ authError?.message }}
        </div>
      </mat-card-content>
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput type="text" #email required="required" id="email">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" #pass required="required" id="password" (keyup)="0" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <br>
        <button mat-raised-button (click)="loginService(email.value, pass.value);">Log in</button>
        <button mat-raised-button color="primary" (click)="registerService()">Register</button>
        <div class="identity_selection_container">
          <mat-form-field appearance="fill" class="identity_dropdown">
            <mat-label>as</mat-label>
            <mat-select [formControl]="identityControl">
              <mat-option value="volunteer">volunteer</mat-option>
              <mat-option value="organization">organization</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card>
      <div class="status_message">{{message}}</div>
  </div>
</div>
