.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {
  padding: 16px;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.heading {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}