.canvas_container{
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .canvas{
    width: 1140px;
    margin-top: 150px;
  }

  mdb-card{
    width: 350px;
  }

  .remove-control {
      margin-top: 20px;
      margin-left: 15px;
      margin-bottom: 30px;
  }

  .report-form{
      margin-top: 15px;
  }

  mat-form-field{
      margin-right: 10px;
  }